h1, h2, h3, h5, h6, div, a {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

body {
    background: #F7F7F7;
}

.navbar {
    background: #fff;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-30 {
    padding: 30px !important;
}

.form-group {
    margin-bottom: 0;
}

.form-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

/*Card*/
.card,
.card-header,
.card-content,
.card-footer {
    float: left;
    width: 100%;
}

.card {
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14);
    min-height: 1px;
    background: #fff;
    padding: 30px;
}

.card:not(:last-child) {
    margin-bottom: 30px !important;
}

.card .card-header {
    margin-bottom: 40px;
}

.card .card-content {
}

.card .card-footer {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*padding: 30px;*/
    margin-top: 30px;
}

/*table*/
td.tb-action,
th.tb-action {
    width: 122px;

}