
h1, h2, h3, h4, h5, h6, p, label, input, button, div, span, select {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, label, button, div, span {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: $font-size-xxx-large;
}

h2 {
  font-size: $font-size-xx-large;
}

h3 {
  font-size: $font-size-xx-large;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-regular;
}

h6 {
  font-size: $font-size-small;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;

}

a, div, p {
  font-size: $font-size-regular;
}

body {
  background: #F7F7F7;
}

.navbar {
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}