@import "common_mix";

.f-left {
  float: left;
  width: 100%;
  min-height: 1px;
}

.f-right {
  float: right;
  width: 100%;
  min-height: 1px;
}

.ds-block {
  display: block;
}

.ds-inline-block {
  display: inline-block;
}

.ds-table-block {
  display: table;
  width: 100%;

  .cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  &.cell-width-0 {
    .cell {
      width: auto !important;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

@for $i from 1 through 100 {
  .width-#{$i} {
    width: $i * 1% !important;
  }
}

@include text-color($black, 'black');

@include textWithoutHover($black, 'black');
@include textWithoutHover($white, 'white');
@include textWithoutHover($primaryColor, 'primary');

@include fontSize();
@include fontWeight();

.line-h-20 {
  line-height: 20px !important;
}

.line-h-14 {
  line-height: 14px !important;
}

.bg-primary-dark {
  background: $primaryDark;
}

.text-info {
  font-size: 16px;
  line-height: 16px;
  color: rgba($primaryFontColor, $lighten);
}

.table-scroll-x {
  width: 1080px;
}

.no-select {
  & > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

//paginations
.paginations {
  float: right;

  & > .paginations {
    margin-top: 0;
    margin-bottom: 15px;
  }

  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: rgba($primaryFontColor, $lighten-x);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 8px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 10px;

    &:first-child,
    &:last-child {
      width: auto;
    }

    &.disabled {
      color: rgba($primaryFontColor, $lighten-xx);
    }

    &.current {
      background: rgba($secondaryFontColor, 1);
      color: rgba($white, 1);
    }
  }
}

.alert {
  padding: 0;
  margin-bottom: 0;

  &[class^="alert-"],
  &[class*=" alert-"] {
    padding: 15px;
    margin-bottom: 20px;
  }
}

span.error-val {
  color: $warnColor;
  font-size: 12px;
  font-weight: $font-weight-regular;
  padding: 4px 0;
}

.scroll {

  &.max-height-210 {
    max-height: 210px;
  }

}

.white-border-right {
  border-right: 3px solid $white;

  &.lighten-2 {
    border-color: rgba($white, $lighten-x);
  }

  &.w-2 {
    border-width: 2px;
  }

  &:last-child {
    border-color: transparent;
  }

}

.popup {
  position: absolute;
  background: $dangerBtnBgColor;
  -webkit-box-shadow: 0 2px 2px rgba($black, 0.10);
  -moz-box-shadow: 0 2px 2px rgba($black, 0.10);
  box-shadow: 0 2px 2px rgba($black, 0.10);
  padding: 15px 20px;
  z-index: 1;
  white-space: nowrap;
  display: none;
}

.popup.leave {
  left: 98%;
  bottom: -8px;

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: $base-font-size;
      color: $white;

      & > span:first-child {
        display: inline-block;
        width: 15px;
        color: rgba($white, $lighten-x);
      }
      & > span:last-child {
        color: rgba($white, $lighten-x);
      }
    }


    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.more {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  background: url("./../images/icon/button/i6/ic-16-search.png");
}

.leave-more {
  position: absolute;
  right: 8px;
  top: 9px;
}

.leave-more:hover + .popup.leave {
  display: block;
}