
.mb-not-last-25:not(:last-child) {
  margin-bottom: 25px;
}

.p-tb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.p-lr-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.m-m-30 {
  margin: -30px !important;
}

@include margin;

//Padding
@include padding;

