.form-group {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.container {
  margin-top: 80px;
}

label {
  font-weight: $font-weight-regular;
}

.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #cdcdcd;
}

//Nav bar
.dropdown-menu {
  position: fixed;
  max-width: 470px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  top: 51px;

  & > li {
    & > a {
      padding: 8px 30px;
      color: rgba($primaryFontColor, $lighten);

      &:hover {
        color: $secondaryFontColor;
      }
    }
  }
}

.nav {
  .open {
    & > a {

      background: transparent;
      border-color: transparent;

      &:focus,
      &:hover {
        background: transparent;
        border-color: transparent;

      }
    }
  }
}

.navbar-default {

  .navbar-brand {
    padding: 5px 15px;

    img {
      width: 60px;
    }
  }

  .navbar-nav > {

    .open > a {
      color: rgba($primaryFontColor, $lighten);
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: transparent;
        color: $secondaryFontColor;
      }

    }
  }

  .dropdown {
    &.notification {

       > a {
        position: relative;
        padding:12px 5px;

        .bell {
          width: 20px;
          height: 20px;
          display: block;
          opacity:0.7;
          background: url("./../images/icon/button/20/ic_20.png") no-repeat 0 -63px;
        }

        .n-count {
          width: 18px;
          height: 18px;
          font-size: 10px;
          line-height: 8px;
          top:10px;
          right:-4px;
          text-align: center;
          padding:5px 0;
          border:1px solid #fff;
          display: block;
          position: absolute;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: $white;
          background: $primaryColor;
        }
      }
    }
  }
}