
//---------------
// Typography
//---------------

//Font size
$base-font-size:14px;
$font-size-small:12px;
$font-size-regular:14px;
$font-size-large:18px;
$font-size-x-large:24px;
$font-size-xx-large:28px;
$font-size-xxx-large:36px;

//Font weight
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-bold:700;

//Font family
//$font-family-text:''



