$primaryColor: #0288d1;
$primaryDark: #014c75;
$warnColor: #eb5b03;
$white: #fff;
$Gray: #F7F7F7;
$black: #000;

$success: #09ff6e;
$error: #ff3820;
$info: #25fcff;

$primaryFontColor: $black;
$secondaryFontColor: $primaryColor;

//---------------
// Typography
//---------------

//Font size
$base-font-size: 14px;
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 28px;
$font-size-xxx-large: 36px;

//Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Font family
//$font-family-text:''
$lighten: 0.86;
$lighten-x: 0.56;
$lighten-xx: 0.30;

$white-lighten: rgba($white, $lighten);
$white-lighten-x: rgba($white, $lighten-x);

//Tab
$tabBorderColor: #0288d1;
$tabActiveColor: #0288d1;
$tabFontColor: rgba($primaryFontColor, $lighten);

//Accordion
$accordionFontColor: rgba($primaryFontColor, $lighten);
$accordionFontActiveColor: $white;
$accordionActiveBgColor: #0288d1;

//Calender
$calenderFontColor: $primaryFontColor;
$calenderDayFontColor: #0288d1;
$holidayColor: #fabb05;
$holidayFontColor: #fabb05;
$leaveColor: #fa432b;
$leaveFontColor: #fff;

//Button
$primaryBtnBgColor: #0288d1;
$dangerBtnBgColor: #ff023b;
