
/.idea/
/assets/*
!/assets/.gitignore
/protected/runtime/*
!/protected/runtime/.gitignore
/protected/data/*.db
/protected/config/database.php


/protected/runtime/application.log

nbproject

# windows thumbnail cache
Thumbs.db
/demos/
/node_modules/
/uploads/company/logo/
!/uploads/company/logo/

