@import "./../variable";

.f-left {
  float: left;
  width: 100%;
  min-height: 1px;
}

$topBarColor: #0288d1;
$tabBarColor: #fff;
$tabBorderColor: #f2f2f2;

body {
  & > .container {
    width: 100% !important;
    padding: 0;
    margin-top: 30px;
  }
}

.container {
  .container {
    margin-top: 0;
  }
}

.top-bar {
  @extend .f-left;
  height: 138px;
  background: $topBarColor;
  padding: 30px 15px;

  h1 {
    font-size: 48px;
    font-weight: $font-weight-light;
    color: $white-lighten;
    line-height: 45px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: $font-weight-regular;
    color: $white-lighten-x;
  }

}

.tab-bar {
  @extend .f-left;
  height: 60px;
  background: $tabBarColor;
  border-bottom: 2px solid $tabBorderColor;

}

.content-bar {
  @extend .f-left;
}

.leave-block {
  @extend .f-left;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .leave-month-day {
    @extend .f-left;
    width: 25%;
    padding: 10px 0;

    h5 {
      font-size: $base-font-size + 2;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      color: rgba($primaryFontColor, $lighten);
    }
  }

  .leave-date-block {
    @extend .f-left;
    width: 75%;

    .lv-type {
      @extend .f-left;
      width: 32%;
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 10px 0;
      font-size: $font-size-small;
      color: rgba($primaryFontColor, $lighten);
      cursor: pointer;

      &:first-child {
        margin-right: 2%;
      }

      &:nth-child(2) {
        border-left: 1px solid #e5e5e5;
      }

      &:nth-child(3) {
        border-left: 1px solid transparent;
      }

      &.is-disabled {
        cursor: context-menu;
        background: $disableColor;
        color: $white;
      }

      &.is-selected {
        background: $primaryColor;
        color: $white;
      }

      &.is-leaved {
        cursor: context-menu;
        background: $leaveColor;
        color: $white;
      }

      &.is-holiday {
        @extend .is-leaved;
        background: $holidayColor;
      }

    }
  }

}

.image-change {
  position: absolute;
  width: 100%;
  height: 40px;
  background: rgba($black, 0.60);
  color: rgba($white, $lighten);
  text-align: center;
  font-size: 10px;
  top: 59px;
  padding: 2px 0;
  cursor: pointer;
}

.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  margin: 10px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.cropit-preview-image-container {
  cursor: move;
}

.image-size-label {
  margin-top: 10px;
}

input, .export {
  display: block;
}

button {
  margin-top: 10px;
}