@import "./../common_mix";

.cm-accordion {
  @extend .f-left;

  .cm-accordion-row {
    @extend .f-left;

    .cm-accordion-header {
      @extend .f-left;
      background: $Gray;
      padding: 15px 50px;
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;

      &::before {
        width: 16px;
        height: 16px;
        position: absolute;
        display: block;
        content: '';
        left: 15px;
        top: 15px;
        background-image: url("./../images/icon/all-icon-300x150.png");
        background-position: 0 0;
        background-repeat: no-repeat;
      }

      h5 {
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: $accordionFontColor;
      }

    }

    .cm-accordion-content {
      @extend .f-left;
      padding: 30px 0;
      display: none;
    }

    &.is-open {
      .cm-accordion-header {
        background: $accordionActiveBgColor;
        -webkit-transition: all ease-in 0.3s;
        -moz-transition: all ease-in 0.3s;
        -ms-transition: all ease-in 0.3s;
        -o-transition: all ease-in 0.3s;
        transition: all ease-in 0.3s;

        &::before {
          background-position: 0 -17px;
          top: 21px;
        }

        h5 {
          color: $accordionFontActiveColor;
        }
      }
      .cm-accordion-content {

      }

    }
  }

}