.avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid $primaryColor;
  overflow: hidden;

  img {
    width: 100%;
  }

  &.avatar-80 {
    width: 80px;
    height: 80px;
  }

}