
.search-box {
  @extend .ds-table-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;

  .item {
    @extend .cell;

    input[type="text"] {
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      //border: 1px solid rgba(0, 0, 0, 0.15);
      height: 36px;
      //outline: 0;
      background: $Gray;
      padding-left: 15px;
    }

    .btn-advance {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 100%;
      outline: 0;
      background: transparent;
      padding: 10px 0 10px 10px;
      color: rgba($primaryFontColor, $lighten);

      &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: rgba($primaryFontColor, $lighten-x);
      }

      &:hover {
        opacity: 0.86;
      }

    }

    .btn-search {
      @extend .btn-advance;
      padding: 10px 30px;
      background: $primaryColor;
      color: $white;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.search-advance {
  @extend .f-left;
  display: none;

  .content {
    @extend .f-left;
    padding: 30px 0;
  }

  .footer {
    @extend .f-left;
  }
}