/*table*/
table.table {

  > thead {
    background: $primaryDark;
    color: $white;

    tr {
      th {
        padding: 6px 8px;
        vertical-align: middle;

        &.th-checkbox {
          padding-top: 10px;
          padding-bottom: 0;
        }
      }
    }
  }

  > tbody {

    tr {
      td {
        padding: 6px 8px;
        position: relative;
      }
    }
  }

  &.table-bordered > thead > tr > td,
  &.table-bordered > thead > tr > th {
    border: 1px solid rgba(221, 221, 221, 0.4);
  }

}

table.table tbody tr:nth-child(even) {
  background: $Gray;
}

.table-bordered > thead > tr > th {
  border-bottom: none;
  font-weight: $font-weight-regular;
}

.table-bordered > tbody > tr > td {
  border-color: $white;
}

td.tb-action,
th.tb-action {
  width: 1px;
  white-space: nowrap;
}

td.tb-action {
  text-align: center;
}

table.table {
  margin-bottom: 0;
}

table.cm-table {

  th, td {
    white-space: nowrap;
  }
}

.table-bordered {
  border: 1px solid #fff;
}

table {
  tr {
    td:first-child {
      &:before {
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        display: inline-block;
      }
    }
  }
  tr.leave {
    td:first-child {
      &:before {
        background: $leaveColor;
      }
    }
  }

  tr.holiday {
    td:first-child {
      &:before {
        background: $holidayColor;
      }
    }
  }

  tr.short-leave {
    td:first-child {
      &:before {
        background: $primaryColor;
      }
    }
  }

  tr.disable {
    td:first-child {
      &:before {
        background: $disableColor;
      }
    }
  }

}

