.f-left, .calender-wrapper, .calender-wrapper .cln-per-header, .calender-wrapper .cln-header, .calender-wrapper .cln-date-container {
  float: left;
  width: 100%;
  min-height: 1px; }

.calender-wrapper {
  background: #f7f7f7; }
  .calender-wrapper .cln-per-header h4 {
    color: rgba(0, 0, 0, 0.86);
    text-align: center; }
  .calender-wrapper .cln-header .day {
    float: left;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
    width: 48.5px;
    height: 45px;
    color: #0288d1;
    height: 30px; }
  .calender-wrapper .cln-date-container {
    width: 340px; }
    .calender-wrapper .cln-date-container .date {
      float: left;
      font-size: 14px;
      color: #000;
      font-weight: 400;
      text-align: center;
      padding: 5px 0;
      width: 48.5px;
      height: 45px;
      padding: 1px;
      cursor: pointer; }
      .calender-wrapper .cln-date-container .date span {
        display: block;
        width: 100%;
        height: 100%;
        padding: 14px 0; }
      .calender-wrapper .cln-date-container .date.is-focus span {
        background: rgba(2, 136, 209, 0.3); }
      .calender-wrapper .cln-date-container .date.is-selected span {
        background: #0288d1;
        color: #fff; }
      .calender-wrapper .cln-date-container .date.is-holiday span {
        background: #edf94eb3; }
      .calender-wrapper .cln-date-container .date.is-leave span {
        background: #e7bd09;
        color: #fff; }
