/*------------------------------
    Common
--------------------------------*/

/*======================================================================================================================
    Side Calender
======================================================================================================================*/

.calender-wrp {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.cm_calender {
    border-radius: 2px;
    background: #F9F9F9;
    overflow: hidden;
    width: 260px;
}

.cm_head {
    background: #168ca8;
    padding: 3px 15px;
    display: table;
}

.cm_head .bt-ac,
.cm_head .cm_month-year {
    display: table-cell;
    vertical-align: middle;
}

.cm_head .cm_month-year {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.cm_head .cm_month-year span:last-child {
    color: rgba(255, 255, 255, 0.56);
}

.cm_head .bt-ac {
    padding: 0;
}

.cm_head .bt-ac svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.cm_head .bt-ac svg path {
    fill: none;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2px;
}

.cm_body {
    padding: 10px 15px;
    float: left;
}

.cm_body .c_day,
.cm_body .c_date {
    display: block;
}

.cm_body .c_day, .cm_body .c_date {
    float: left;
}

.cm_body .c_day span,
.cm_body .c_date span {
    float: left;
    text-align: center;
    font-size: 14px;
    width: 32.857px;
    padding: 6px 0;
}

.cm_body .c_day span {
    color: #168CA8;
    text-transform: uppercase;
    font-size: 12px;
    font-width: 500;
}

.cm_body .c_date span {
    color: #4f4f4f;
    border-radius: 50%;
    cursor: auto;
}

.cm_body .c_date span.disable {
    color: rgba(79, 79, 79, 0.56);
}

.cm_body .c_date span.select {
    color: #fff;
    background: #49b3cc;
}

/*----------------------------
    Calender
----------------------------*/
.calender-container .ic_15 {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.calender-container,
.day-container,
.date-container {
    float: left;
    width: 100%;
}

.calender-container {
    min-height: 570px;
}

.day-container {
    margin-bottom: 6px;
}

.date-container {
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

.day-container .day,
.date-container .date {
    float: left;
    width: 14.28%;
}

.day-container .day {
    font-size: 12px;
    line-height: 12px;
    color: #49b3cc;
    padding: 0 10px;
}

.date-container .date {
    height: 114px;
    max-height: 114px;
    padding: 10px;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    cursor: pointer;
}

.date-container .date .header {
    display: table;
    width: 100%;
    vertical-align: top;
}

.date-container .date .content {
    float: left;
    width: 100%;
    height: inherit;
}

.lb-holiday-type {
    font-size: 12px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

.date-container .date .header span {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.date-container .header span.num {
    min-width: 28px;
    width: 28px;
    font-size: 24px;
    line-height: 24px;
    color: #168ca8;
    font-weight: 300;
}

.date-container .header span.type {
    vertical-align: middle;
    padding-left: 6px;
}

.date-container .header span.type .lb-holiday-type {
    width: 42px;
}

.date-container .header span.icon {
    text-align: right;
}

.disable .header span.num {
    color: #dbdbdb;
}

.date.holiday {
    background: #f9d452;
}

.date.holiday .header span.num,
.date.holiday .lb-holiday-type,
.date.leave .header span.num,
.date.leave .lb-holiday-type {
    color: #fff;
}

/*------------------------------
    Holiday
--------------------------------*/
.holiday-list {
    margin: 0;
    padding: 0;
    float: left;

}

.holiday-scroll {
    max-height: 130px;
}

.holiday-list li {
    list-style: none;
    float: left;
    width: 100%;
}

.holiday-list li:not(:last-child) {
    margin-bottom: 15px;
}

.cell-text {
    width: 70%;
}

.holiday-scroll .mCSB_scrollTools {
    width: 7px;
}

.holiday-scroll .mCSB_inside > .mCSB_container {
    margin-right: 10px;
}

.date .header span.h_day-type {
    color: rgba(67, 72, 73, 0.56);
    font-size: 12px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 58%;
}

/*------------------------------
    Month
--------------------------------*/
.tab-calender {
    float: right;
}

.tab-calender a {
    font-size: 14px;
    color: #434849;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px 20px;
    float: left;
    border-bottom: 4px solid #eeeaea;
}

.tab-calender a.active {
    color: #49b3cc;
    border-color: #49b3cc;
}

.task-list,
.event-list {
    margin: 0;
    padding: 0;
    max-height: 240px;
}

.task-list li,
.event-list li {
    float: left;
    width: 100%;
    list-style: none;
}

.task-list li:not(:last-child) {
    margin-bottom: 10px;
}

.event-list {
    margin-top: 5px;
    overflow: hidden;
    height: 62%;
}

.event-list li {
    background: #ecf7fa;
    padding: 5px 10px;
    cursor: pointer;
}

.event-list li span {
    display: block;
    width: inherit;
    font-size: 10px;
    color: #434849;
    line-height: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-list li span:hover {
    color: #168CA8;
}

.event-list li:not(:last-child) {
    margin-bottom: 4px;
}

/*----------Leave and holiday Status------*/

.date.leave {
    background: #f26b55;
}

.date.full .ic-leave {
    background: url("../../images/system/icon/calender/15/ic_15-full.png");
}

.date.morning .ic-leave {
    background: url("../../images/system/icon/calender/15/ic_15_morning.png");
}

.date.evening .ic-leave {
    background: url("../../images/system/icon/calender/15/ic_15_affternoon.png");
}

.date.leave .event-list li,
.date.holiday .event-list li {
    background: #fff;
}

/*------------------------------
    Day and month
--------------------------------*/
table.cln {
    margin-bottom: 0;
}

table.cln > tbody > tr > td,
table.cln > tbody > tr > th,
table.cln > tfoot > tr > td,
table.cln > tfoot > tr > th,
table.cln > thead > tr > td,
table.cln > thead > tr > th {
    padding: 0;
    border-top: none;
}

.cln-header,
.cln-container {
    float: left;
    width: 100%;
    position: relative;
}

.dates-wrp {
    width: 100%;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.cln-header table tbody > tr > td.dates-wrp {
    border-top: 1px solid #dbdbdb;
}

.times-wrp {
    width: 10%;
}

.times-wrp .time {
    font-size: 14px;
    line-height: 14px;
    color: rgba(67, 72, 73, 0.56);
    padding-right: 20px;
    text-align: right;
    height: 60px;
}

.cln-header .dates-wrp {
    height: 124px;
    max-height: 124px;
    min-height: 124px;
    border-bottom: 1px solid rgba(244, 244, 244, 1);
}

.dates-wrp .top {
    padding: 20px 10px;
}

.t-num,
.t-day,
.t-year {
    color: #49b3cc;
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
}

.t-day {
    color: rgba(73, 179, 204, 0.56);
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

.t-year {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.date-day .t-num {
    width: 34px;
    margin-right: 5px;
}

.item-wrp,
.time-row,
.tb-row {
    height: 60px;
    max-height: 60px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.56);
}

.tb-row {
    width: 100%;
    border-bottom: 1px solid rgba(244, 244, 244, 1);
}

.events {
    padding: 2px 5px;
    border: 2px solid #b6e5ef;
    background: #f0fafc;
    width: 100%;
    overflow: hidden;
}

.events span {
    display: block;
    width: inherit;
    white-space: nowrap;
    font-size: 10px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.events span:nth-child(1) {
    color: #434849;
}

.events span:nth-child(2) {
    color: rgba(67, 72, 73, 0.56);
}

.event-wrp {
    margin-right: 10px;
    height: 0;
}

.ent-item {
    position: absolute;
    top: 0;
}

/*----------------- Month --------------------*/

.wk .t-day,
.wk .t-num {
    display: block;
}

.wk .t-day {
    margin-bottom: 4px;
}

.scroll {
    max-height: 420px;
}

.scroll .mCSB_outside + .mCSB_scrollTools {
    right: -16px;
}

.dates-wrp.wk {
    width: 12.85%;
    position: relative;
}

.cln-row {
    float: left;
    width: 100%;
    height: 1440px;
    margin-bottom: -1440px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.cln-cell {
    z-index: 2;
    float: left;
    position: relative;
    width: 100%;
}

.holiday .top {
    background: #f9d452;
}

.leave .top {
    background: #f26b55;
}

.leave .top .t-num,
.holiday .top .t-num {
    color: #fff;
}

.leave .top .t-day,
.holiday .top .t-day {
    color: rgba(255, 255, 255, 0.56);
}

/*----------------- Day --------------------*/
.item-wrp.day-item {
    padding: 4px 10px 10px;
}

.day-item table td {
    min-width: 8%;
}

.day-item .item {
    padding: 10px;
    border: 2px solid #b9e6f0;
}

.day .dates-wrp.wk {
    width: 100%;
}